<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title></title>
     <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">
     <link rel="stylesheet" href="/assets/styles/index.css">
</head>
<body>
     <form id="form" class="forms-create container-md d-flex align-items-center justify-content-center flex-column" action="" method="POST">
          <h3 class="mb-5 title"></h3>
          <div class="d-flex align-items-center justify-content-center container-fluid">
               <label style="width:30%" for="" class="fw-bolder">Nom: </label>
               <input required style="width:70%" type="text" class="form-control" placeholder="Nom..." id="name" name="nom">
          </div>
          <div class="d-flex align-items-center justify-content-center container-fluid my-2">
               <label style="width:30%" for="" class="fw-bolder">Prix: </label>
               <input required style="width:70%" type="number" class="form-control" placeholder="Prix..." id="price" name="prix">
          </div>
          <input type="submit" class="btn btn-primary mt-5" value="Editer">
          <div class="loader">
               <div class="spinner-border" role="status">
                    <span class="visually-hidden">Chargement...</span>
               </div>
          </div>
     </form>
     <script src="/assets/script/articles/edit.js" type="module"></script>
</body>
</html>