<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Les articles</title>
     <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">
     <link rel="stylesheet" href="/assets/styles/index.css">
</head>
<body>
     
     <div class="containers container">
          <div class='container d-flex align-items-center justify-content-center flex-column'>
               <div class="container flex-column d-flex align-items-center justify-content-between gap-4 mb-5">
                    <div class="container d-flex align-items-center justify-content-between flex-row">
                        <h2 class="align-self-start" style="letter-spacing:2px">Les <span style="border-bottom:2px solid rgb(9,181, 9);">art</span>icles</h2>
                        <a href="/articles/create" class="btn btn-secondary">Nouveau</a>
                    </div>
                    <form id="form" action="" class="gap-2 align-self-start d-flex align-items-center justify-content-center flex-row">
                        <input type="text" class="form-control" name="search" id="search" placeholder="Rechercher...">
                        <input value="Rechercher" type="submit" class="btn btn-sm btn-outline-primary">
                    </form>
               </div>
               <div class="container flashMessage"></div>
               <table class="table table-striped tables"></table>
          </div>
     </div>
     <div class="loader">
          <div class="spinner-border" role="status">
               <span class="visually-hidden">Chargement...</span>
          </div>
     </div>


     <script type="module" src="assets/script/articles/index.js"></script>

</body>
</html>